<%= form_for(newcategory, :html => {:class => "form-horizontal"}) do |f| %>
  <% if newcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newcategory.errors.count, "error") %> prohibited this newcategory from being saved:</h2>

      <ul>
      <% newcategory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="list-group">
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.label :new_category_name, class: "control-label" %>
      <%= f.text_field :new_category_name, class: "form-control"  %>
    </div>
  </div>
<div class="form-group">
  <div class="col-sm-6">
    <%= f.submit "Save", class: "btn btn-default" %>
  </div>
  </div>
</div>
    <% end %>
