<div class="rows">
<p id="notice"><%= notice %></p>
<legend>Categories</legend>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name of category</th>
      <th>Category Score</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @newcategories.each do |newcategory| %>
      <tr>
        <td><%= newcategory.new_category_name %></td>
        <td><%= newcategory.new_category_score %></td>
        <td><%= link_to 'Edit Questions', newcategory %> |
        <%= link_to 'Edit Category name', edit_newcategory_path(newcategory) %> |
        <%= link_to 'Destroy', newcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Newcategory', new_newcategory_path %>
</div>
