<p id="notice"><%= notice %></p>

<h1>Formbuilders</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formbuilders.each do |formbuilder| %>
      <tr>
        <td><%= formbuilder.category %></td>
        <td><%= link_to 'Show', formbuilder %></td>
        <td><%= link_to 'Edit', edit_formbuilder_path(formbuilder) %></td>
        <td><%= link_to 'Destroy', formbuilder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formbuilder', new_formbuilder_path %>
