<p id="notice"><%= notice %></p>

<h1>Qbuilders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qbuilders.each do |qbuilder| %>
      <tr>
        <td><%= qbuilder.name %></td>
        <td><%= link_to 'Show', qbuilder %></td>
        <td><%= link_to 'Edit', edit_qbuilder_path(qbuilder) %></td>
        <td><%= link_to 'Destroy', qbuilder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qbuilder', new_qbuilder_path %>
