<p id="notice"><%= notice %></p>

<h1>Список магазинов</h1>

<table>
  <thead>
    <tr>
      <th>Название маазина</th>
      <th>Адрес магазина</th>
      <th>Категория магазина</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.store_name %></td>
        <td><%= store.store_adress %></td>
        <td><%= store.store_caregory %></td>
        <td><%= link_to 'Показать', store %></td>
        <td><%= link_to 'Редактировать', edit_store_path(store) %></td>
        <td><%= link_to 'удалить', store, method: :delete, data: { confirm: 'Вы уверены, что хотите удалить магазин?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать новый магазин', new_store_path %>
