<div class="form-group">
  <div class="col-sm-4">
    <legend><%= f.object[:name] %></legend>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :score_init%>
  </div>
</div>
<div class="form-group">
    <%= f.fields_for :questions do |builder| %>
      <%= render 'question_fields', :f => builder %>
    <% end %>
</div>
