<%= form_for(poll) do |f| %>
  <% if poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <p><%= poll.name %></p>
    <%= f.hidden_field :name %>
  </div>
  <div class="field">
    <ol>
      <% @poll.questions.each do |question| %>
        <li><%= question.content %>
      <% end %>
    </ol>
      <%= f.fields_for :questions do |builder| %>
      <%= builder.hidden_field :content %>
      <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
