<ol>
<li><%= f.object[:content] %></li>
<%= f.hidden_field :content%>
</ol>
<p>
  <%= f.label :question_rate, "Answer Rate" %>
  <%= f.number_field :question_rate %>
  <%= f.label :question_comment, "Comment" %>
  <%= f.text_field :question_comment %>
</p>
