<div class="list-group">
  <div class="form-group">
      <div class="col-sm-4">
      <label class="list-group-item list-group-item-info"><%= f.object[:content] %></label>
          <%= f.hidden_field :content%>
          <%= f.hidden_field :score_init%>
          <%= f.select(:score_result, 0..f.object[:score_init],  {include_blank: "Select rate"}, {class: 'form-control'} ) %>
      </div>
  </div>
  <div class="form-group">
      <div class="col-sm-4">
        <%= f.text_area :comment, class: "form-control"  %>
      </div>
  </div>
</div>
