
<li><%= f.object[:content] %></li>
<%= f.hidden_field :content%>

<p>
  <%= f.label :question_rate, "Answer Rate" %>
  <%= f.select :question_rate, (0..f.object[:question_score]) %>
  <%= f.label :question_comment, "Comment" %>
  <%= f.text_area :question_comment %>
</p>
<%= f.object[:question_score] %>
