<div class=rows>
<p id="notice"><%= notice %></p>
<h1>Polls</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th >Poll name</th>
      <th>Pole rate</th>
      <% @polls.last.categories.each do |cat| %>
        <th><%= cat.category_name %></th>
      <% end %>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.name %></td>
        <td><strong><%= ( poll.poll_rate.to_f / poll.total_score.to_f * 100 ).round %>%</strong></td>
          <% poll.categories.each do |cat| %>
          <td><strong><%= (cat.category_rate.to_f / cat.category_score.to_f * 100).round %>%</strong></td>

          <% end %>
        <td><%= link_to 'Show', poll %> |
        <%= link_to 'Edit', edit_poll_path(poll) %> |
        <%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Poll', new_poll_path %>
</div>
