<p id="notice"><%= notice %></p>

<h3>Представление: <%= @poll.cat1%></h3>
    <p>Чистота: <%= @poll.a11%></p>
    <p>Громкость: <%= @poll.a12%></p>
    <p>Внешний вид: <%= @poll.a13%></p>
<h3>Мерчендайзинг: <%= @poll.cat2%></h3>
    <p>Выкладка товара: <%= @poll.a21%></p>
    <p>Ассортимент: <%= @poll.a22%></p>
<h3>Знание: <%= @poll.cat3%></h3>
    <p>Уровень знаний ассортимента и характеристик товаров: <%= @poll.a31%></p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
