<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @poll.name %>
</p>
<p>
  <strong>Poll rate: <%= @poll.poll_rate %></strong>

</p>


    <% @poll.categories.each do |category| %>
  <li><h3><%= category.category_name %> Rate: <%= category.category_rate %></h3></li>
  <ol>
          <% category.questions.each do |question| %>
    <h4><li><%= question.content %></li></h4>
      <p><strong>Rate: </strong><%= question.question_rate %></br>
    <strong>Comment: </strong><%= question.question_comment %></p>
          <% end %>
  </ol>
    <% end %>


<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
