<div class="col-xs-12">
  <p id="notice"><%= notice %></p>
  <legend>
    <h2>Shop POS and Business quality checklist</h2>
    <p>Doc Id: <small><%= @poll.id %></small></p>
    <p>Date: <small><%= @poll.created_at.strftime("%d.%m.%Y. %H:%M:%S") %></small></p>
    <p>Poll rate: <small><%= rate_to_percent(@poll.score_result, @poll.score_init) %>%</small></p>
  </legend>
  <div class="col-xs-9">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Quality and Excellence</th>
          <th>Evaluating method</th>
          <th>Rate</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
          <% @poll.categories.each do |cat| %>
        <tr>
          <td><b><%= cat.name %></b></td>
          <td><b>Score: <%= cat.score_init %></b></td>
          <td><b>Rate: <%= cat.score_result %></b></td>
          <td><b><%= rate_to_percent(cat.score_result, cat.score_init) %>%</b></td>
        </tr>
            <% cat.questions.each do |question| %>
        <tr>
          <td><%= question.content %></td>
          <td>0-<%= question.score_init %></td>
          <td><%= question.score_result %></td>
          <td><%= question.comment %></td>
        </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Edit', edit_poll_path(@poll) %> |
    <%= link_to 'Back', polls_path %>
  </div>
</div>
