<p id="notice"><%= notice %></p>

<h1>Formquestions</h1>

<table>
  <thead>
    <tr>
      <th>Question build</th>
      <th>Formbuilder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formquestions.each do |formquestion| %>
      <tr>
        <td><%= formquestion.question_build %></td>
        <td><%= formquestion.formbuilder_id %></td>
        <td><%= link_to 'Show', formquestion %></td>
        <td><%= link_to 'Edit', edit_formquestion_path(formquestion) %></td>
        <td><%= link_to 'Destroy', formquestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formquestion', new_formquestion_path %>
