<div class="rows">
<p id="notice"><%= notice %></p>
<legend>Categories</legend>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name of category</th>
      <th>Category Score</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.name %></td>
        <td><%= form.score_category %></td>
        <td><%= link_to 'Edit Questions', form %> |
        <%= link_to 'Edit Category name', edit_form_path(form) %> |
        <%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Form', new_form_path %>
</div>
