<%= newcategory_for(newquestion) do |f| %>
  <% if newquestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newquestion.errors.count, "error") %> prohibited this newquestion from being saved:</h2>

      <ul>
      <% newquestion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :new_question_name %>
    <%= f.text_field :new_question_name %></br>
    <%= f.select :new_question_score, (0..2) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
