<p id="notice"><%= notice %></p>

<h1>Newquestions</h1>

<table>
  <thead>
    <tr>
      <th>Question name</th>
      <th>Newcategory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newquestions.each do |newquestion| %>
      <tr>
        <td><%= newquestion.new_question_name %></td>
        <td><%= newquestion.newcategory_id %></td>
        <td><%= link_to 'Show', newquestion %></td>
        <td><%= link_to 'Destroy', newquestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newquestion', new_newquestion_path %>
