<!DOCTYPE html>
<html>
  <head>
    <title>Saop</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
  <div class="container">
    <% if current_user %>
        <%= "Hello, #{current_user.email}" %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#sign_in">
          Launch demo modal
        </button>
        <%= link_to "Sign up", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-small' %>
        <%= render 'shared/sign_in' %>
        <%= render 'shared/sign_up' %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
